<!-- @dsCard group="Editorial" height=440 -->
<!doctype html>
<html>
<head><meta charset="utf-8"><title>HeroStage</title></head>
<body>
<div id="root"></div>
<script>
  var G = window.GlossBeau, h = React.createElement;
  ReactDOM.createRoot(document.getElementById('root')).render(h('div', { style: { padding: 16 } }, h(G.HeroStage, { slides: [{ title: 'Genus Argan serum' }, { title: 'Inoar Thermoliss' }, { title: 'Genus Intense Restoring' }, { title: 'Agua Milagrosa' }, { title: 'Glycolic leave-in' }, { title: 'Nirvel Silver' }] })));
</script>
</body>
</html>
